{% extends 'base.html.twig' %}

{% block title %}Hello FormParseController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
        <table class="table table-striped text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Слово</th>
                <th scope="col">Количество повторений</th>
            </tr>
            </thead>
            {% for key, value in json %}
                <tbody>
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
